body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0 15px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    width: 70%;
    padding: 20px;
  }
  input {
    width: 90%;
  }
}
